{% extends "show/base.html.twig" %}

{% block pageHeading %}
    {% if app.request.attributes.get('_route') == 'show_create' %}Create a show{% else %}Update "{{ show.name }}"{% endif %}
{% endblock %}

{% block content %}

    {#{{ form(showForm) }}#}

    {{ form_start(showForm, {"attr":{"novalidate":"novalidate", "lol":"pouet"}}) }}

    	{#{{ form_widget(showForm) }}#}

    	{# {{ form_row(showForm.name) }} #}


        {% if show is defined %}
            {% if app.request.attributes.get('_route') == 'show_update' and show.mainPicture is not null %}
            <div>
                <label for="existing_picture">Current main picture</label>
                <img name="existing_picture" width="200px" src="{{ asset(upload_folder ~'/'~ show.mainPicture) }}" alt="{{ show.name }}"/>
            </div>
            <hr />
            {% endif %}
        {% endif %}
        {{ form_row(showForm.tmpPicture) }}

    	{{ form_rest(showForm) }}

    	<input type="submit" value="{% if app.request.attributes.get('_route') == 'show_create' %}Create{% else %}Update{% endif %}" />
    	
    {{ form_end(showForm) }}

{% endblock %}