{% extends "show/base.html.twig" %}


{% block pageHeading %}
   List of shows
{% endblock %}


{% block content %}
  {% for show in shows %}
  <div class="card mb-4">
    <img class="card-img-top" src="{{ asset(upload_folder ~'/'~ show.mainPicture) }}" alt="{{ show.name}}">
    <div class="card-body">
      <h2 class="card-title">{{ show.Name }}</h2>
      <p class="card-text">{{ show.abstract }}</p>
      <a href="{{ path('show_update', {'id': show.id}) }}" class="btn btn-primary">Update &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ show.releaseDate | date('d, M Y') }} by
      <a href="#">{{ show.author }}</a>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

{% endblock %}